
!data/processed/
!data/raw/*.csv
!data/raw/*.json
!data/raw/*.parquet
# allow configs but ignore processed CSVs
# Coverage reports
# data artifacts (keep raw local)
# Environment variables file
# Great Expectations cache
# IDE
# Jupyter notebook checkpoints
# local runs and outputs
# MLflow database
# OS
# Package build artifacts
# Pytest cache
# Python cache
# Python virtual environment
# Temporary test files
*$py.class
**/.pytest_cache/
**/__pycache__/
*.cover
*.db
*.egg-info/
*.log
*.py[cod]
*.pyc
*.pyc
*.pyo
*.so
*.swo
*.swp
.coverage
.DS_Store
.env
.idea/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
__pycache__
__pycache__/
build/
data/**/*
data/processed/*.csv
dist/
gx/uncommitted/
gx/uncommitted/
htmlcov/
mlartifacts/
mlflow.db
mlruns/
mlruns/
outputs/*.csv
test_shap_locally.py
Thumbs.db
venv/
